#top {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
#top img {
  width: 100%;
  object-fit: cover;
}
#top div {
  width: 100%;
  height: 5rem;
}
#bottom {
  width: 100%;
  height: 5rem;
  position: fixed;
  bottom: 0;
  left: 0;
}
#scores {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
#scores img {
  width: 100%;
  object-fit: cover;
}
@keyframes toRight {
  to {
    opacity: 0;
    transform: translateX(30px);
  }
}

::view-transition-old(root) {
  animation: 0.5s toRight linear;
}
